@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

#welcome{
    font-family: Raleway, sans-serif;
    color: white;
    margin-left: 50px
}
#github {
    width: 100%;
}

.Link-secondary{
    color:grey
}