/* Add a black background color to the top navigation */
.nav-body {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
 a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
 a:hover {
    border-bottom: 3px solid #f9826c;
  }
  
 .current {
    border-bottom: 3px solid #f9826c;
  }
