* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

.repo h3 {
    font-size: 30px;
    grid-row: 1;
    grid-column: 1 / span 2;
}

.repo h3 a {
    color: blue;
    text-decoration: none;
}

.repo h3 a:hover {
    text-decoration: underline;
    cursor: pointer;
}

ul.repoData {
    padding-left: 0px;
}

ul.repoData li {
    display: inline;
    padding-right: 15px;
}

ul.repoData h4 {
    display: inline;
}

ul.repoData h4 {
    font-size: 14px;
    grid-row: 2;
    color: grey;
}

hr {
    color: grey;
}